# Created by .ignore support plugin (hsz.mobi)
Будет удалено .idea/codeStyles/
Будет удалено .idea/dbnavigator.xml
Будет удалено .idea/encodings.xml
.idea/codeStyles/
.idea/composerJson.xml
.idea/dbnavigator.xml
.idea/encodings.xml
